<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/static/css/search.css" />
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{.query.query}} - Librarian</title>
</head>

<body>
  <header>
    <a href="/">
      <img src="/static/img/librarian.svg" height="72" class="logo" />
    </a>
    <form action="/search" method="GET">
      <input type="text" placeholder="Search..." name="q" value="{{.query.query}}" class="searchBar" />
    </form>
  </header>

  <main>
    <div class="results">
      {{range $index, $value := .channels}}
      <div class="video">
        <div class="thumbnailWrapper">
          <a href={{$value.RelUrl}}>
            <img class="thumbnail channelThumbnail" src="{{$value.Thumbnail}}&w=420&h=420" loading="lazy" />
          </a>
        </div>
        <p>
          <b><a class="videoLink" href={{$value.RelUrl}}>{{$value.Title}}</a></b>
        </p>
        <p>
          <a class="videoLink" href={{$value.RelUrl}}>{{$value.Name}}</a>
        </p>
        <p>
          {{$value.Followers}} followers<br>
          {{$value.UploadCount}} uploads
        </p>
      </div>
      {{end}}
      {{range $index, $value := .videos}}
      <div class="video">
        <div class="thumbnailWrapper">
          <a href={{$value.RelUrl}}>
            <img class="thumbnail" src="{{$value.ThumbnailUrl}}&w=854&h=480" loading="lazy" />
          </a>
          <p class="duration">{{$value.Duration}}</p>
        </div>
        <p>
          <a class="videoLink" href={{$value.RelUrl}}>{{$value.Title}}</a>
        </p>
        <p>
          <a class="videoLink" href={{$value.Channel.RelUrl}}>{{$value.Channel.Name}}</a>
        </p>
        <div class="videoMeta">
          <p title="{{$value.Date}}">Shared {{$value.RelTime}}</p>
          <p>{{$value.Views}} views</p>
        </div>
      </div>
      {{end}}
    </div>

    <br><br>

    <div class="pageSelector">
      {{if ne .query.prevPage "0" }}
      <a class="videoLink" href="/search?q={{.query.query}}&page={{.query.prevPage}}">Previous page</a>
      {{else}}
      {{end}}
      <a class="videoLink" href="/search?q={{.query.query}}&page={{.query.nextPage}}">Next page</a>
    </div>
  </main>

  <br><br><br>

  <footer>
    <a href="https://codeberg.org/imabritishcow/librarian/wiki">
      <span class="material-icons-outlined">menu_book</span> Documentation
    </a>
    <a href="/static/licenses.html">
      <span class="material-icons-outlined">copyright</span> JavaScript licenses
    </a>
    <a href="https://codeberg.org/imabritishcow/librarian">
      <span class="material-icons-outlined">code</span> Source Code
    </a>
  </footer>
</body>

</html>